.slogan {
    width: 60%; 
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan > div[role=button] {
    width: 10rem;
    margin-top: 1rem;
}

#adminNewSlogan {
    width: 100%;
    margin-top: 0.5rem;
}