.AdminBlogList {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* overflow-y: scroll; */
    padding: 1rem;
}

.blogCard {
    width: 100%;
    margin: 0.5rem;
    border: 1px solid rgb(179, 74, 48);
    /* margin: auto; */
    padding: 0.5rem;
}

.blogCard > textarea {
    resize: none;
}

.cbCategory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
